.env
venv/

# LaTeX intermediate and auxiliary files
*.aux
*.lof
*.lot
*.log
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.inx
*.synctex
*.synctex.gz
*.fdb_latexmk
*.fls
*.run.xml
*.xdv
*.dvi
*.ps
*.pdfsync
*.nav
*.snm
*.vrb

# Ignore Python cache
__pycache__/
*.pyc

mlruns/
**/mlruns/

# Ignore data type files: .csv, .txt, .pkl in all directories
*.csv
*.txt
*.pkl

evaluation_plots