.env
env
.venv
venv

# Ignore Python cache
__pycache__/
*.pyc

mlruns/
**/mlruns/

# Ignore data type files: .csv, .txt, .pkl in all directories
*.csv
*.txt
*.pkl

results/*
evaluation_plots/*

testing_files/*

cache/*